<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>

  <!-- GitHub Markdown CSS -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/LW2904/0816ecc18badf58950eab19d895d47de/raw/99320285acc636607d22c1ef43e6930523aace83/markdown.css">

  <title>files / <%= locals.title || 'document' %></title>

  <style>
    .markdown-body {
      margin-top: 1em }

    @media (max-width: 750px) {
      .markdown-body {
        padding: 15px
      }
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="ten columns markdown-body">
      <%- locals.markdown || '<h1>Whoops, something went wrong :/</h1>' %>
    </div>

  </div>
</body>

</html>