<!DOCTYPE html>
<html lang="en">

<head>
    <title>Index of {{title}}</title>
</head>

<body>
    <h1>Index of {{title}}</h1>

    <a href="..">..</a><br/>
    {{#files}}
        <a href="./{{name}}">{{name}}</a><br/>
    {{/files}}
</body>

</html>